<h1><%= @place["name"] %></h1>

<!--<% if @current_user %> #added this per authorization-- not sure -->
<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-primary">New Entry</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>

<div class="row">
  <% for entry in @entries %>
    <div class="col-sm-6 col-md-4">
      <h5><%= entry["title"] %></h5>
      <h6><%= entry["occurred_on"] %></h6>
    <!--  <img src="<%= entry["image"] %>" class="img-fluid"> ADD THIS WK10--> 
      <p><%= entry["description"] %></p>
    </div>
  <% end %>
</div>



<!--<% end %> #added this per authorization--connects to @current_user above -->
